
/* FOOTER */
footer {
    padding: 20px 0;
    margin-top: 127px;
    text-align: center;
  }
  
  footer p {
    font-size: 16px;
    font-weight: 400;
  }
  
  footer p span {
    color: #00df5e;
    font-weight: 700;
  }
  
  
  