header {
  background-color: #131313;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Certifique-se de que o z-index seja maior que o conteúdo da página */
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 20px;
}

header .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

header .logo {
  font-size: 26px;
  font-weight: 700;
}

header nav ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

header nav ul li a {
  display: block;
  padding: 10px 25px;
  font-weight: 400;
  text-decoration: none;
  color: #f9f9f9;
  transition: 0.3s;
}

header nav ul li a:hover {
  color: #00df5e;
}

@media (max-width: 820px) {
  header {
    position: relative;
  }

  header .container {
    justify-content: center;
  }

  header .logo {
    margin-bottom: 15px;
  }
  header ul {
    justify-content: center;
  }

  header nav ul li a {
    background-color: #131313;
  }
}




