/* SKILLS*/

.skills-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  
  .skills-item .item {
    width: 150px;
    height: 150px;
    border: 1px solid #333;
    background: #212121;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
  }
  
  .skills-item .item:hover {
    background-color: #171717;
  }

  @media(max-width:820px){
    .skills-item{
        flex-direction: column;
        gap: 20px;
    }

    .skills-item .item{
        width: 100%;
    }
  }