@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tema claro */
html {
  --bg-color: #ffffff;
  --text-color: #000000;
}

/* Tema escuro */
html.dark {
  --bg-color: #121212;
  --text-color: #ffffff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
